apiVersion: apps/v1
kind: Deployment
metadata:
  name: account-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: account-service
  template:
    metadata:
      labels:
        app: account-service
    spec:
      containers:
        - name: account-service
          image: stefanjakjoski/account-service:1.0
          ports:
            - containerPort: 8080
          env:
            - name: DB_URL
              value: jdbc:postgresql://account-db:5432/accountdb
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: account-db-secret
                  key: DB_USER
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: account-db-secret
                  key: DB_PASSWORD
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: JWT_SECRET

